.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-result {
  width: 20em;
}

ul {
  text-align: left;
  border: 1px solid black;
}

li {
  list-style: none;
}

